In [2]:
#h0為兩變數獨立
import scipy.stats
import pandas as pd
#scipy.stats.chi2_contingency(obs, correction = False)
data = pd.DataFrame([[75,135],[18,10],[7,5]])
data
data.columns = ["taipei","kao"]
data.index = ["滿意","不滿意","無意見"]

In [3]:
data

     taipei  kao
滿意       75  135
不滿意      18   10
無意見       7    5

In [4]:
scipy.stats.chi2_contingency(data,correction=False)

(10.168650793650796,
 0.006193063541749622,
 2,
 array([[ 84. , 126. ],
        [ 11.2,  16.8],
        [  4.8,   7.2]]))

In [5]:
data = pd.DataFrame([[37,16,5],[30,22,8],[32,44,6]])
scipy.stats.chi2_contingency(data,correction=False)

(11.62615421470934,
 0.020358978958425228,
 4,
 array([[28.71, 23.78,  5.51],
        [29.7 , 24.6 ,  5.7 ],
        [40.59, 33.62,  7.79]]))

In [6]:
import scipy.stats
import pandas as pd
df = pd.DataFrame([[50,"a"],[60,"a"],[70,"a"],[40,"b"],[50,"b"],[60,"b"],[30,"c"],[90,"c"],[30,"c"]])
df
df.columns = ["s","p"]
df

    s  p
0  50  a
1  60  a
2  70  a
3  40  b
4  50  b
5  60  b
6  30  c
7  90  c
8  30  c

In [11]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
model = ols("s ~ p",data = df).fit()
sm.stats.anova_lm(model,typ=2)

          sum_sq   df         F    PR(>F)
p          200.0  2.0  0.214286  0.813037
Residual  2800.0  6.0       NaN       NaN